table {
	width: 270px;
	height: 219px;
	padding-top: 20px;
	padding-left: 50px;
}

th {
	background-color: #000;
	color: #fff;
	text-align: left;
}
tr:nth-of-type(odd) {
	background-color: #ccc;
}
tr:nth-of-type(even) {
	background-color: #fff;
}
table tr:nth-child(n) {
	text-align: left;
}
tr:nth-child(2),tr:nth-child(3),tr:nth-child(4){
	color: red;
}
body {
	font-family: "微软雅黑";
	font-weight: 500;
	font-size: 15px;
}
input {
	width: 103px;
	height: 24px;
	border: 1px solid #ccc;
	margin-top: 100px;
	margin-left: 80px;
}
input:focus {
	width:207px;
	color:blue;
}

.slider{
    position: absolute;
    width: 268px;  
    height: 111px;  
    overflow: hidden;
    margin-top: 100px;
    margin-left: 50px;
}  

#photos img {  
    float: left;  
    width: 268px;  
    height:111px;  
}  
#photos {/*---设置总的图片宽度--通过位移来达到轮播效果----*/  
    position: absolute;z-index:9px;  
    width: calc(268px * 3);/*---修改图片数量的话需要修改下面的动画参数*/  
}  
.play{  
    animation: ma 10s ease-out infinite alternate;/**/  
}  
@keyframes ma {/*---每图片切换有两个阶段：位移切换和静置。中间的效果可以任意定制----*/  
    0%,20% {        margin-left: 0px;       }  
    25%,40% {       margin-left: -268px;    }  
    45%,60% {       margin-left: -536px;    }  
}  
.num{  
    position:absolute;
    z-index:10; 
    display:inline-block;  
    right:10px;
    top:85px;   
    background:grey;  
    width:25px;
    height:25px;  
    line-height:25px;  
    cursor:pointer;  
    color:#fff;  
    text-align:center;  
    opacity:0.8;  
}  
.num:hover{background:#00f;}  
.num:hover,#photos:hover{animation-play-state:paused;}  
.num:nth-child(2){margin-right:30px}  
.num:nth-child(1){margin-right:60px}  

#a1:hover ~ #photos{animation: ma1 .5s ease-out forwards;}  
#a2:hover ~ #photos{animation: ma2 .5s ease-out forwards;}  
#a3:hover ~ #photos{animation: ma3 .5s ease-out forwards;}  

@keyframes ma1 {0%{margin-left:-536px;}100%{margin-left:-0px;} }  
@keyframes ma2 {0%{margin-left:-536px;}100%{margin-left:-268px;}   }  
@keyframes ma3 {100%{margin-left:-536px;}   }  
 